<div class="main-grid"> <!-- .main, .grid -->

    <div class="clear-box"></div>

    <div class="header col-100">
        <div class="header-text">
            <h1>CoffeeAlum</h1>
            <h2>WHERE STUDENTS AND ALUMNI CAN MEET OVER COFFEE</h2>
            <p class='header-paragraph'>Our mission is simple. We want to give college undergraduates
                the opportunity to meet alumni and upperclassmen who can offer invaluable experiential
                advice about what paths are out there. This can range from insights into what the best
                classes are to which majors offer the best jobs.
             </p>
            <%= link_to 'Sign Up', signup_path %>
        </div>
    </div>

    <div class="clear-box"></div>

    <div class="students">
        <div class="student col-66">
            <h2 class="exploration-header">STUDENT EXPLORATION</h2>
            <div class="line-separator"></div>
            <p class="exploration-text">The number of career opportunities for college students
            is almost endless. CoffeeAlum makes exploring those
            avenues easier by connecting students with alumni.</p>
        </div>
        <div id="tester" class="student col-33">
            <div class="coffee"></div>
            <div class="student-quote">
                <div class="quote-block">
                    <p class="quote-text">Choosing a career is hard. Coffee isn't.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="clear-box"></div>

    <div class="alumni">
        <div class="alumni col-66">
            <h2 class="alumni-header">ALUMNI WISDOM</h2>
            <div class="alumni-line-separator"></div>
            <p class="alumni-text">Take part in the construction of a vibrant community
            of students and alumni. At your own convenience, you can talk with undergraduates
            that can probably learn a thing or two from you.</p>
        </div>

        <div id="test" class="alumni col-33">
            <div class="alumni-quote">
                <div class="alumni-quote-block">
                    <p class="alumni-quote-text"><q>Mentoring is a brain to pick, an ear
                    to listen and a push in the right direction</q></p>
                    <div class="holder">
                        <div class="author-line-separator"></div>
                        <h2 class="author">John C. Crosby</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
