<div class="container">
    <div class="row ">
        <div class=" col-lg-12">
               <div>
                   <legend>Get Matched</legend>
                   <p>
                       Check out these articles on the importance of mentorship.
                   </p></br>
              </div>
        </div>
    </div>
