<div class="container">
    <div class="row ">
        <div class=" col-lg-12">
               <div>
                   <legend>Get Matched</legend>
                   <p>
                       We will match you with a mentor that best suits you. Fill
                       out your profile to get matched. Matches will take up to one week.
                       Check your email for updates. Happy matching!
                   </p></br>
              </div>
              <% @user = current_user  %>
              <button  class="btn btn-primary btn-responsive  button-create" type='submit'><%= link_to "Update Profile", edit_user_path(@user) %></button>
        </div>
    </div>
