<div id='landing'>
  <div id='inner'>
    <%= link_to image_tag("logo2.png"), users_path %>
    <h1>Make School Community in one place</h1>
    <p>Build real connections with Make School mentors and alumni.</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
  </div>
</div>
