<body class="view">
    <!--Mask-->
    <div>
        <!--Intro content-->
        <div class="full-bg-img flex-center">
            <h1>Coffee Alum</h1>
            <h2>Make School</h2>
            <p class='header-paragraph'>Connect with the makers, the entrepreneurs, and the designers of co-working spaces.
                Take a look at what the members of your co-working space are up to and grab coffee with them.
            </p>
        </div>
        <!--/Intro content-->
    </div>
    <!--/.Mask-->
</body>
