html,
body,
.view {
    height: 100%;
}

.view {
    // background: url("product-academy-ms.png")no-repeat center center fixed;
    background: #56bc8a;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
