html,
body,
.view {
    height: 100%;
}

.view {
    // background: url("product-academy-ms.png")no-repeat center center fixed;
    background: #56bc8a;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center{
    width: 100%;
    margin:auto;
    padding: 3em;
    text-align: center;
    color: white;
}

.flex-center h1{
  font-size: 500%;
  top: 5em;
  font-family: "Arial";

}
.flex-center h2{
    font-size: 250%;
    font-family: "Arial";
}
