.content h1{
    font-size: 30px;
}

.description p{
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    font-weight:lighter;
    line-height: 1.6em;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: capitalize;
}

.contact .actions{
    margin-left: auto;
}

.tag {
  padding-top: 10%;
  width: 75%;
  height: 20px;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 0;
    font-weight: 400;
    vertical-align: middle;
    background-color: #1b4059;
}

.tag p{
    font-size: 12px;
    font-family: "Roboto Slab", serif;
    color: white;
    text-align: center;
    background: #13b4ff;
    font-weight: 550;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: capitalize;
}

.tag-thin-gap{
    display: inline-block;
    height: 20px;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: #1b4059;
    vertical-align: middle;
    line-height: 20px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    float: left;
    margin: 2px;


    p {

        a{
            text-decoration: none !important;
            line-height: 15px !important;
            border-bottom: none !important;
            color: #fff;
            font: 15px;
            opacity: 0.9;
        }
    }
}


.special-tag{
    background-color: #8b341e;
    display: inline-block;
    height: 20px;
    border-radius: 10px;
    padding: 0px 10px;
    vertical-align: middle;
    line-height: 20px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    float: left;
    margin: 2px;
    p {

        a{
            text-decoration: none !important;
            line-height: 15px !important;
            border-bottom: none !important;
            color: #fff;
            font: 15px;
            opacity: 0.9;
        }
    }
}



#role{
    color: red;
    text-transform: capitalize;
}

.show-tag{
    margin: auto;
    text-decoration: none !important;
    line-height: 20px !important;
    border-bottom: none !important;
    color: #fff;
}

.edit-image{
    float: right;
}

.edit-image{
    float: right;
}

.tag-index{
    float: left;
}
