#landing {
  text-align: center;
  #inner {
    height: 80vh;
    background-repeat: no-repeat;
    padding: 10% 10% 0 10%;
    img {
      width: 50%;
    }
    a {
      border-bottom: 0px;
    }
    h1 {
      color: #218cc3;
      padding-top: 5%;
      font-size: 2em;
    }
    p {
      color: #218cc3;
      font-size: 1em;
      font-weight: lighter;
    }
    .button {
      margin-top: 3%;
    }
  }

}
