// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
    width: 30%;
    float: left;
    padding-right: 2em;
    margin: 1em 0 1em 1em !important;
}

.posts article .image {
    width: 10%;
    float: left;
    padding-right: 2em;
    margin: 1em 0 1em 1em !important;
}



a {
  text-decoration: none !important;
}

#show {
  margin-top: 50px;
  background-color:white;
  padding:30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#tag-filter {
  margin-top: 50px;
  background-color:white;
  margin-right:25px;
  padding-bottom:10px;
  padding-top:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.find {
  margin-top: 50px;
  background-color:white;
  margin-right: 35px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.posts{
  margin: 0 0 2em 0 !important;
}

.column-one-boxes{
    background-color: #dbe9d8;
}

.long-height{
    height:25em;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }







 html, body {
  height: 100%;
}

html {
  background: #eee;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-card{
    width: calc(50% - 35px);
    float: left;
    border-radius: 5px;
}

.full-card{
    width: calc(100%);
    margin-bottom: 2em;
    height: 50%;
    float: left;
    border-radius: 5px;
}

.box {
  // width: 25%;
  // height: 25em;
  // box-shadow: 0 2px 30px rgba(black, .2);
  // background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  border: none !important;
  // transform: translate3d(0, 0, 0);
}


.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  // animation: drift 3000ms infinite linear;
}

.wave.-three {
  // animation: drift 2500ms infinite linear;
}


.wave.-two {
  // animation: drift 5000ms infinite linear;
  // opacity: .1;
  // background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  // transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 40px;
  text-align: center;
  // transform: translate3d(0, 0, 0);
  color: white;
  font-family: inherit;
  font-weight: bold;

  letter-spacing: .1em;
  font-size: 20px;
  // text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
// @keyframes drift {
//   from { transform: rotate(0deg); }
//   from { transform: rotate(360deg); }
// }
